#banner {
    .slick-slider {
        .slick-slide {
            position: relative;
            
            .slick-caption {
                position: absolute;
                left: 0;
                bottom: 0;
                padding-bottom: 150px;
                text-align: center;
                width: 100%;
                h1 {
                    color: $color_white;
                    margin-bottom: 15px;
                }
            }
            
        }
        
        // slick arrow

    }
}