$slick-arrow-height: 40;
.slick-slider {
	overflow: hidden;
	
	// arrow
	.slick-arrow {
	    position: absolute;
		z-index: 1;
		top: 50%;
		margin-top: -#{$slick-arrow-height/2}px;
		&.slick-next {
		  right: 0;
		}
		&.slick-prev {
		  left: 0;
		}
	}
}

.slick-slider .slick-arrow {
    transition: 0.4s all ease;
}

.slick-slider .slick-arrow.slick-prev {
    transform: translate(-100px, 0);
}

.slick-slider .slick-arrow.slick-next {
    transform: translate(100px, 0);
}

.slick-slider:hover .slick-arrow.slick-prev,
.slick-slider:hover .slick-arrow.slick-next {
    transform: translate(0px, 0);
}