ul.slick-dots {
    margin-top: 30px;
    display: inline-block !important;
    li {
        list-style: none;
        display: inline-block;
        button {
            background: lighten($color_black, 50%);
            border: 1px solid $color_white;
            padding: 0;
            margin-right: 10px;
            margin-left: 10px;
            text-indent: -9999px;
            height: 10px;
            width: 10px;
            &:hover {
                @extend %bg-primary;
            }
        }
        &.slick-active {
            button {
                @extend %bg-primary;
            }
        }
    }
}

