##{$prefix}-banner {
    .#{$prefix}-banner-slider {
        .slick-slide {
            position: relative;
            
            .#{$prefix}-banner-image {
                @extend %img-cover;
                height: calc(100vh - 100px);

                /* iPad in portrait */
                @media only screen 
                // and (min-device-width : 768px) 
                // and (max-device-width : 1024px) 
                and (orientation : portrait) { 
                    /* STYLES GO HERE */ 
                    height: 40vh;
                }

                @include media(lg) {
                    height: calc(100vh - 200px);    
                }
            
                .#{$prefix}-banner-caption {
                    position: absolute;
                    left: 0;
                    text-align: center;
                    top: 50%;
                    // transform: translate(0,-50%);
                    transform: translate(0, -50%) scale(0);
                    @include transition($transition);
                    max-width: 600px;
                    margin: auto;
                    right: 0;
                    z-index: 99;
                    .#{$prefix}-title {
                        @include font-size(20);
                        
                        @include media(xs) {
                            @include font-size(36);
                        }
                    }            
                }
            }     
            &.slick-active {
                .#{$prefix}-banner-image {                
                    .#{$prefix}-banner-caption {     
                        transform: translate(0, -50%) scale(1);        
                    }
                } 
            }       
        }
        
        // slick arrow

        // slick-dots
        ul.slick-dots {
            position: absolute;
            bottom: 20px;
            right: 50px;
            z-index: 1;
        }

    }
}


##{$prefix}-banner {
    .#{$prefix}-banner-slider {
        .#{$prefix}-overlay {
            &:after {    
                background-color: rgba(0, 0, 0, 0);
            }
        }
        
        &:hover {
            .#{$prefix}-overlay {
                &:after {
                    background-color: rgba(0, 0, 0, 0.40);
                }
            }
        }
    }
}