##{$prefix}-author {
	.#{$prefix}-author-name {
		color: $color_black;
	    font-size: 20px;
	    @extend %font-primary;
	    font-weight: $font_primary_medium;
	}

	.#{$prefix}-author-img {
	    margin-bottom: 10px;
	    @extend %img-effect-scale;
	}

	##{$prefix}-author-social-icons {
		@extend %social-icons;
		margin-top: 20px;
		margin-bottom: 10px;
		ul {
			li {
				margin-right: 15px;
				padding: 0;
			}
		}
	}
}