$instagram_height: 125px;
// ##{$prefix}-instafeed
.#{$prefix}-instafeed-slider {
		height: $instagram_height;
		overflow: hidden;
	.#{$prefix}-instafeed-image {
		display: inline-block;
		height: $instagram_height;
		width: calc(100% / 8);
		@extend %img-effect-scale;
		a {
			display: block;
		}
		img {
			// showing demo images
			width: 100%;
			height: auto;
			// height: 100%;
		}
	}
}

.null-instagram-feed {
	text-align: center;
	.follow-me {
		margin-top: 10px;
	}
}