// ##{$prefix}-instafeed
.#{$prefix}-instafeed-slider {
	.#{$prefix}-instafeed-image {
		height: 125px;
		@extend %img-effect-scale;
		a {
			display: block;
		}
		img {
			// showing demo images
			width: 100%;
			height: auto;
			// height: 100%;
		}
	}
}

.null-instagram-feed {
	text-align: center;
	.follow-me {
		margin-top: 10px;
	}
}