$instagram_height: 125px;
// ##{$prefix}-instafeed

// common
.#{$prefix}-instafeed-slider {
		// height: $instagram_height;
		// overflow: hidden;
	.#{$prefix}-instafeed-image {
		display: inline-block;
		// height: $instagram_height;
		height: auto;
		padding-bottom: 100%;
		@extend %img-effect-scale;
		a {
			display: block;
		}
	}
}

.null-instagram-feed {
	text-align: center;
	.follow-me {
		margin-top: 10px;
		text-align: center;
	}
}

// full-width
.#{$prefix}-full-width-widget {
	.#{$prefix}-instafeed-slider {
			height: $instagram_height;
			overflow: hidden;
		.#{$prefix}-instafeed-image {
			float: left;
			// display: inline-block;
			// height: $instagram_height;
			width: calc(100% / 8);
			// @extend %img-effect-scale;
			a {
				display: block;
			}
			img {
				// showing demo images
				width: 100%;
				height: auto;
				// height: 100%;
			}
		}
	}
}

// aside
aside {
	.null-instagram-feed {
		text-align: left;
	}
	.#{$prefix}-instafeed-slider {
		.#{$prefix}-instafeed-image {
		    max-width: 50%;
		    padding: 2px;
		}
	}
}