.nav-tabs {
	@extend %bg-black;
	.nav-item {
		margin-bottom: 0;
		text-align: center;
		width: calc(100% / 3);
		@include media(sm) {
			@include font-size(12);
		}
		@include media(md) {
			@include font-size(13);
		}
		@include media(lg) {
			@include font-size(14);
		}
		.nav-link {
			@extend %bg-black;
			@extend %color-white;
			// padding-left: 9px;
			// padding-right: 9px;
			padding: $tabs_padding;
			border-radius: 0;
			border: 0;
			text-transform: uppercase;
			&.active {
		    	@extend %bg-primary;
		    }
		}
	} 
}

.tab-content {
    // padding-top: 15px;
}