.widget-title, 
.widgettitle {
	@extend %widget-title;
}



#secondary {

	h2,
	.widget-title, 
	.widgettitle {
	    text-align: center;
	    background: $color_black;
	    color: $color_white;
	    padding: 9px;
	    margin-bottom: 2rem;
	}

} 