%no-margin {
  margin: 0;
}

%no-padding {
  padding: 0;
}

%color-primary {
    color: $color_primary;
}

%bg-primary {
    background-color: $color_primary;
}

%border-primary {
    border-color: $color_primary;
}

%font-primary {
    font-family: $font_primary;
}


%secondary-color {
    color: $color_secondary;
}
%font-secondary {
    font-family: $font_secondary;
}

%overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.40);
  content: "";
  position: absolute;
  top: 0;
}

%entry-title {
  color: $color_black;
  font-size: 24px;
  font-weight: $font_primary_bold;
  a {
    // color: $color_black;
  }
}

%widget-title {
  color: $color_black;
  font-size: 16px;
  text-transform: uppercase;
}

%widget-categories-list {
  background-color: $color_light_grey;
  list-style: none;
  margin-bottom: 3px;
  padding: 4px 10px;
  a {
    color: lighten($color_black, 50%);
    &:hover {
      color: $color_primary;
    }
  }
}

%no-box-shadow {
  box-shadow: none;
}

%btn-reset {
  background: none;
  border: 0;
  cursor: pointer;
}

%widget-search {
  form {
      position: relative;
      padding-right: $head-search-btn-width;
      label {
          margin-bottom: 0;
          width: 100%;
          .search-field {
              border-radius: 0;
              width: 100%;
          }
      }

      .search-submit {
          position: absolute;
          height: 100%;
          right: 0;
          top: 0;
          z-index: 1;
      }
  }
}