// transition
%transition {
  @include transition($transition);
}

%img-cover {
    background-color: $color_black;
    background-size: cover;
    background-position: center center;
}
%no-margin {
  margin: 0;
}

%no-padding {
  padding: 0;
}

%color-primary {
    color: $color_primary;
}
%color-white {
    color: $color_white;
}
%color-black {
    color: $color_black;
}

%color-link {
    color: $color_link;
    &:hover {
      // color: $color_link_hover;
      @extend %color-primary;
    }
    &:visited {
      // color: $color_link;  
      &:hover {
        // color: $color_link_hover;
      }
    }
}

%bg-primary {
    background-color: $color_primary;
}
%bg-white {
    background-color: $color_white;
}
%bg-black {
    background-color: $color_black;
}
%bg-box-color {
    background-color: $color_white;
    @include transition($transition);
    &:hover {
      background-color: $color_light_grey;
    }
}

%border-primary {
    border-color: $color_primary;
}

%font-primary {
    font-family: $font_primary;
}
%font-awesome {
    font-family: $font_awesome;
    font-weight: 900;
}


%secondary-color {
    color: $color_secondary;
}
%font-secondary {
    font-family: $font_secondary;
}

%color-footer {
    color: $color_black;
}

%entry-title {
  color: $color_title;
  @include font-size(24);//20
  font-weight: $font_primary_medium;
  @include media(xs) {
    // @include font-size(24);  
  }
  a {
    color: $color_title;
    &:hover {
      @extend %color-primary;
    }
  }
}

%widget-title {
  @extend %color-black;
  @include font-size(30);//24
  font-weight: $font_primary_bold;
  margin-bottom: 15px;
  // text-align: center;
  text-transform: uppercase;
  a {
    @extend %color-black;
  }
}

%widget-categories-list {
  background-color: $color_light_grey;
  list-style: none;
  padding: 4px 10px;
  line-height: 28px;
  // margin-bottom: 3px;
  // @include transition($transition);
  &:hover {
    padding-left: 20px;
  }
  a {
    color: lighten($color_black, 50%);
    &:hover {
      @extend %color-primary;
    }
  }


  margin-bottom: 8px;
  @extend %transition;

  &:before {
    @extend %font-awesome;
      content: "\f101";
      margin-right: 5px;
  }
  &:hover {
    // padding-left: 10px;
  }
}

%no-box-shadow {
  box-shadow: none;
}

// form elements
%btn-style {
  // background doesn't let functions style to override
  // background-color: $color_black;
  @extend %bg-black;
  border: 0;
  border-radius: 0;
  color: $color_white;
  cursor: pointer;
  @include font-size(18);//15
  line-height: $line_height;
  padding: 5px 10px;
  &:hover {
    color: $color_white;
    @extend %bg-primary;
  }
  @include media(xs) {
    padding: 5px 16px;//also in widget-search
  }
}

%btn-style-coloured {
  // background-color: $color_primary;
  @extend %bg-primary;
  &:hover {
    background-color: $color_black;
  }
}

%input-style {
  background: #f2f2f2;
  border: 0;
  border-radius: 0;
  padding: 7px 10px;
  width: 100%;
}

%checkbox-radio-style {
  margin-right: 10px;
}

%widget-search {
  form {
      height: $search_height;
      position: relative;
      padding-right: $head-search-btn-width;
      label {
          height: 100%;
          margin-bottom: 0;
          width: 100%;
          .search-field {
              @extend %input-style;
              height: 100%;
          }
      }

      .search-submit {
          position: absolute;
          height: 100%;
          right: 0;
          top: 0;
          // z-index: 1;

          @extend %btn-style;
      }
  }
}

// flex
%flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
%flex-v-center {
  align-items: center;
}
%flex-h-center {
  justify-content: center;
}

// post-navigation
%post-navigation {
  // border-top: 1px solid lighten($color_black, 70%);
  padding-top: 15px;
  a {
    @extend %btn-style;
    background-color: $color_pagination;
    display: inline-block;
  }
  .nav-previous a {
    &:before {
      content: "\f30a";
      margin-right: 10px;
        @extend %font-awesome;
    }
  }
  .nav-next a {
    &:after {
        content: "\f30b";
        margin-left: 10px;
        @extend %font-awesome;
    }
  }
}

// pagination
%pagination {
  margin: 0 auto;
  margin-top: 20px;
  a {
    background-color: $color_pagination;
    // @extend %color-white;
  }
  
  a, 
  span {
    @extend %btn-style;
    // border: 0;
    // padding: 3px 10px;
  }

  a:hover, 
  span.current {
    @extend %bg-primary;
    // @extend %color-white; 
    // font-weight: normal;
  }
}

// img effect
%img-effect-scale {
  overflow: hidden;
  img {
      @include transition($transition);
  }
  &:hover {
      img {
        @include scale(1.05);
      }
  }
}

// social icons
%social-icons-text {
  ul {
    li {
      a[href*="facebook.com"]::after {
          content: "facebook";
      }

      a[href*="twitter.com"]::after {
          content: "twitter";
      }

      a[href*="linkedin.com"]::after {
          content: "linkedin";
      }

      a[href*="plus.google.com"]::after {
          content: "google plus";
      }

      a[href*="youtube.com"]::after {
          content: "youtube";
      }

      a[href*="dribbble.com"]::after {
          content: "dribbble";
      }

      a[href*="pinterest.com"]::after {
          content: "pinterest";
      }

      a[href*="bitbucket.org"]::after {
          content: "bitbucket";
      }

      a[href*="github.com"]::after {
          content: "github";
      }

      a[href*="codepen.io"]::after {
          content: "codepen";
      }

      a[href*="flickr.com"]::after {
          content: "flickr";
      }

      a[href$="/feed/"]::after {
          content: "feed";
      }

      a[href*="foursquare.com"]::after {
          content: "foursquare";
      }

      a[href*="instagram.com"]::after {
          content: "instagram";
      }

      a[href*="tumblr.com"]::after {
          content: "tumblr";
      }

      a[href*="reddit.com"]::after {
          content: "reddit";
      }

      a[href*="vimeo.com"]::after {
          content: "vimeo";
      }

      a[href*="digg.com"]::after {
          content: "digg";
      }

      a[href*="twitch.tv"]::after {
          content: "twitch";
      }

      a[href*="stumbleupon.com"]::after {
          content: "stumbleupon";
      }

      a[href*="delicious.com"]::after {
          content: "delicious";          
      }

      a[href*="mailto:"]::after {
          content: "mailto";
      }
      a[href*="soundcloud.com"]::after {
          content: "soundcloud";
      }
      a[href*="wordpress.org"]::after {
          content: "WordPress";
      }
      a[href*="wordpress.com"]::after {
          content: "WordPress";
      }

      a[href*="jsfiddle.net"]::after {
          content: "jsfiddle";
      }

      a[href*="tripadvisor.com"]::after {
          content: "tripadvisor";
      }

      a[href*="angel.co"]::after {
          content: "angel";
      }

      a[href*="slack.com"]::after {
          content: "slack";
      }
    }
  }
}
%social-icons {
  ul {
    text-align: center;
    li {
      display: inline-block;
      list-style: none;
      margin-right: 30px;
      a {
        text-transform: capitalize;
        &:before {
          font-family: Font Awesome\ 5 Brands;
          margin-right: 14px;
        }
      }
      a[href*="facebook.com"]::before {
          content: "\f09a";
      }

      a[href*="twitter.com"]::before {
          content: "\f099";
      }

      a[href*="linkedin.com"]::before {
          content: "\f0e1";
      }

      a[href*="plus.google.com"]::before {
          content: "\f0d5";
      }

      a[href*="youtube.com"]::before {
          content: "\f167";
      }

      a[href*="dribbble.com"]::before {
          content: "\f17d";
      }

      a[href*="pinterest.com"]::before {
          content: "\f0d2";
      }

      a[href*="bitbucket.org"]::before {
          content: "\f171";
      }

      a[href*="github.com"]::before {
          content: "\f113";
      }

      a[href*="codepen.io"]::before {
          content: "\f1cb";
      }

      a[href*="flickr.com"]::before {
          content: "\f16e";
      }

      a[href$="/feed/"]::before {
          content: "\f09e";
          font-family: $font_awesome;
          font-weight: 900;
      }

      a[href*="foursquare.com"]::before {
          content: "\f180";
      }

      a[href*="instagram.com"]::before {
          content: "\f16d";
      }

      a[href*="tumblr.com"]::before {
          content: "\f173";
      }

      a[href*="reddit.com"]::before {
          content: "\f1a1";
      }

      a[href*="vimeo.com"]::before {
          content: "\f194";
      }

      a[href*="digg.com"]::before {
          content: "\f1a6";
      }

      a[href*="twitch.tv"]::before {
          content: "\f1e8";
      }

      a[href*="stumbleupon.com"]::before {
          content: "\f1a4";
      }

      a[href*="delicious.com"]::before {
          content: "\f1a5";          
      }

      a[href*="mailto:"]::before {
          content: "\f0e0";
          font-family: $font_awesome;
      }
      a[href*="soundcloud.com"]::before {
          content: "\f1be";
      }
      a[href*="wordpress.org"]::before {
          content: "\f19a";
      }
      a[href*="wordpress.com"]::before {
          content: "\f19a";
      }

      a[href*="jsfiddle.net"]::before {
          content: "\f1cc";
      }

      a[href*="tripadvisor.com"]::before {
          content: "\f262";
      }

      a[href*="angel.co"]::before {
          content: "\f209";
      }

      a[href*="slack.com"]::before {
          content: "\f198";
      }

      // social links hover effect 
      a[href*="facebook.com"]:hover {
          color: #3b5998;
      }

      a[href*="twitter.com"]:hover {
          color: #00aced;
      }

      a[href*="plus.google.com"]:hover {
          color: #dd4b39;
      }

      a[href*="/feed/"]:hover  {
          color: #dc622c;
      }

      a[href*="wordpress.org"]:hover,
      a[href*="wordpress.com"]:hover {
          color: #45bbe6;
      }

      a[href*="github.com"]:hover {
          color: #4183c4;
      }

      a[href*="linkedin.com"]:hover {
          color: #007bb6;
      }

      a[href*="pinterest.com"]:hover {
          color: #cb2027;
      }

      a[href*="flickr.com"]:hover {
          color: #ff0084;
      }

      a[href*="vimeo.com"]:hover {
          color: #aad450;
      }

      a[href*="youtube.com"]:hover {
          color: #bb0000;
      }

      a[href*="instagram.com"]:hover {
          color: #517fa4;
      }

      a[href*="dribbble.com"]:hover {
          color: #ea4c89;
      }

      a[href*="skype.com"]:hover {
          color: #12a5f4;
      }

      a[href*="digg.com"]:hover {
          color: #333;
      }

      a[href*="codepen.io"]:hover {
          color: #000;
      }

      a[href*="reddit.com"]:hover {
          color: #ff4500;
      }

      a[href*="mailto:"]:hover {
          color: #1d62f0;
      }

      a[href*="foursquare.com"]:hover {
          color: #f94877;
      }

      a[href*="stumbleupon.com"]:hover {
          color: #eb4924;
      }

      a[href*="twitch.tv"]:hover {
          color: #6441a5;
      }

      a[href*="tumblr.com"]:hover {
          color: #32506d;
      }

      a[href*="stumbleupon.com"]:hover {
          color: #eb4924;
      }

      a[href*="twitch.tv"]:hover {
          color: #6441a5;
      }

      a[href*="tumblr.com"]:hover {
          color: #32506d;
      }

      a[href*="soundcloud.com"]:hover {
          color: #ff5500;
      }

      a[href*="wordpress.org"]:hover {
          color:#45bbe6;
      }

      a[href*="jsfiddle.net"]:hover {
          color:#4679bd;
      }

      a[href*="tripadvisor.com"]:hover {
          color:#86c171;
      }

      a[href*="foursquare.com"]:hover {
          color:#2d5be3;
      }

      a[href*="angel.co"]:hover {
          color:#000;
      }

      a[href*="slack.com"]:hover {
          color:#56b68b;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

%box-layout {
  // border: 1px solid lighten($color_black, 90%);
  @include box-shadow( 0 0 2px lighten($color_black, 80%) );
  padding: 10px;
  &:hover {
    @include box-shadow( 0 0 4px lighten($color_black, 70%) );
  }
}