$font_secondary:  'Raleway', sans-serif;
$font_primary: 'Raleway', sans-serif;
//font size
$font-size: 16px;

/* colors */
$color_primary: #d6b938;
$color_secondary: #272727;
$color_white: #fff;
$color_black: #000;
$color_light-grey: #f7f7f7;
$text_light: #8e8e8e;

/*prifix */
$prefix: st-blog;