// Media breakpoints defined in settings
$break-lg: 1199px !default;
// $break-md: 991px !default;
$break-md: 992px !default;
$break-sm: 768px !default;
$break-xs: 575px !default;

// Media query mixin
@mixin media($screen){

    @if $screen == lg{
        @media ( min-width: $break-lg ){
            @content;
        }
    }@else if$screen == md{
        @media ( min-width: $break-md ){
            @content;
        }
    }@else if $screen == sm{
        @media ( min-width: $break-sm ){
            @content;
        }
    }@else if $screen == xs{
        @media ( min-width: $break-xs ){
            @content;
        }
    }@else if $screen == onlyxs{
        @media ( max-width: $break-xs ){
            @content;
        }
    }
} 


