body.dark-theme {
	.site-footer {
		color: $color_white;
	    background: $dark_theme_footer_bg;
	    .site-content {
			a, 
			a:visited {
				color: $color_white;
			}

			a:hover {
			    color: lighten($color_black, 70%);
			}

			.site-info {
			    padding-top: 40px;
			}
	    }
	}
}