// dark-theme
.dark-theme {
	.site-content {
		a.readmore,
		.readmore {
			@extend %btn-style;
			color: $color_white;
			&:hover {
				color: $color_white;
			}
		}
	}

	// social icons
	##{$prefix}-social-icons {
		ul {
			li {
				a {
					@extend %btn-style;	
				}
				a[href*="facebook.com"]:hover {
					background-color: $color_facebook;
				}
				a[href*="twitter.com"]:hover {
					background-color: $color_twitter;
				}
				a[href*="instagram.com"]:hover {
					background-color: $color_instagram;
				}
				a[href*="pinterest.com"]:hover {
					background-color: $color_pinterest;
				}
			}
		}
	}
}

// dark-theme-coloured
.dark-theme-coloured {
	.btn,
	a.btn,
	button,
	input[type="submit"],
	.#{$prefix}-header-wrap .#{$prefix}-head-search form .search-submit {
		@extend %btn-style;

		@extend %btn-style-coloured;
	}

	// social icons
	##{$prefix}-social-icons {
		@extend %social-icons;
		ul {
			li {
				a {
					@extend %btn-style-coloured;
				}
			}
		}
	}
}