$article_image_height: 200px;

.site-content {
	article {
		&.hentry {
	    	margin-bottom: 40px;
		}
		.image {
		    overflow: hidden;
		    margin-bottom: 15px;
		    
			.post-thumbnail {
			    margin-bottom: 10px;
			    display: block;
			}
		}
		span.cat-links {
		    margin-right: 10px;
		}
	}

	.article-grid {
		article {
			.image {
				max-height: $article_image_height;
			}
		}
	}

	// blog item
	.#{$prefix}-item {
		article {
			.entry-title {
				@extend %entry-title;
				text-transform: inherit;
				// @include font-size(20);
			}
		}	
	}
}
