$article_image_height: 170px;

article {
	&.hentry {
    	margin-bottom: 40px;
	}
	.entry-title {
		@extend %entry-title;
	}
	.image {
	    overflow: hidden;
	    margin-bottom: 15px;
	    
		.post-thumbnail {
		    margin-bottom: 10px;
		    display: block;
		}
	}
	span.cat-links {
	    margin-right: 10px;
	}
}

.article-grid {
	article {
		.image {
			max-height: $article_image_height;
		}
	}
}