$article_image_height: 200px;

// .site-content {
	article {
		&.hentry {
	    	margin-bottom: 40px;
		}
		.image {
		    overflow: hidden;
		    margin-bottom: 15px;
		    
			.post-thumbnail {
			    margin-bottom: 10px;
			    display: block;
			}
		}
		span.cat-links {
		    margin-right: 10px;
		}
	}

	// blog item
	.#{$prefix}-item {
		article {
			.entry-title {
				@extend %entry-title;
				text-transform: inherit;
				// @include font-size(20);
			}
		}	
	}
// }

body.boxed {
	// blog item
	.#{$prefix}-item {
		article {
			.image {
				max-height: $article_image_height;
			}
		}
	}
}

// doesn't look good
// body.full-width {
// 	.#{$prefix}-item {
// 		article {			
// 			@include clearfix();
// 			.image {
// 				float: left;
// 				padding-right: 20px;
// 				width: 40%;
// 				.post-thumbnail {
// 					overflow: hidden;
// 				}
// 			}

// 			.entry-header, .entry-content, .entry-footer {
// 			    width: 60%;
// 			    float: left;
// 			}
// 		}
// 	}
// }
