$masonry_column_gap: 6%;//or 30px


body.boxed {
	// Masonry container
	.#{$prefix}-masonry { 
		// margin-bottom: 40px;
		@include media(md) {
		    column-count: 2;
		    column-gap: $masonry_column_gap;
		}
		@include media(lg) {
		    column-count: 2;
		}
		// .#{$prefix}-item
		article { 
			// Masonry bricks or child elements
		    display: inline-block;
		    text-align: center;
		    // width: 100%;
		}
	}

	&.salient-no-sidebar {
		.#{$prefix}-masonry {
			@include media(sm) {
			    column-count: 2;
			    column-gap: $masonry_column_gap;
			}
			@include media(md) {
			    column-count: 3;
			}
			@include media(lg) {
			    column-count: 3;
			}
		}
	}
}