$masonry_column_gap: 6%;//or 30px
.#{$prefix}-masonry { /* Masonry container */
	@include media(md) {
	    column-count: 2;
	    column-gap: $masonry_column_gap;
	}
	@include media(lg) {
	    column-count: 2;
	}
	.#{$prefix}-item { /* Masonry bricks or child elements */
	    display: inline-block;
	    width: 100%;
	}
}

body.#{$prefix}-no-sidebar {
	.#{$prefix}-masonry {
		@include media(sm) {
		    column-count: 2;
		    column-gap: $masonry_column_gap;
		}
		@include media(md) {
		    column-count: 3;
		}
		@include media(lg) {
		    column-count: 3;
		}
	}
}