#comments {
    .comments-title {
        margin-bottom: 20px;
    }
    ol.comment-list {
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            article {
                padding-left: 90px;
                position: relative;
                margin-bottom: 30px;
                img {
                    position: absolute;
                    left: 0;
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                }

                .comment-meta {
                    margin-bottom: 10px;
                }
            }
            
        }

    }
}