body.big-logo {
	.#{$prefix}-header-row {
		.#{$prefix}-logo-manage {
		    padding-bottom: 15px;
		    padding-top: 15px;
			text-align: center;
		    @include media(md) {
		    	padding-bottom: 0;
		    	padding-top: 20px;
		    }
		}
	}
}

@include media(md) {
	body.big-logo.big-logo-enable header.site-header .#{$prefix}-header-wrap-nav .container .#{$prefix}-menu-toggler-manage {
	    position: inherit;
	}
	body.big-logo.big-logo-enable nav#site-navigation ul.nav-menu {
	    float: none;
	    margin-right: 0;
	    margin: 0 auto;
	    display: inline-block;
	    position: inherit;
	}

	body.big-logo.big-logo-enable nav#site-navigation {
	    text-align: center;
	}



	// big-logo disable on scroll
	.big-logo.big-logo-disable .#{$prefix}-header-row .#{$prefix}-logo-manage {
	    display: none;
	}
	.big-logo.big-logo-disable nav#site-navigation ul {
	    float: none;
	    display: inline-block;
	}
	.big-logo.big-logo-disable header.site-header .#{$prefix}-header-wrap-nav .container .#{$prefix}-menu-toggler-manage {
	    right: auto;
	    width: 100%;
	}
	.big-logo.big-logo-disable nav#site-navigation {
	    text-align: center;
	}


	body.big-logo nav#site-navigation ul.nav-menu > li > a {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}

	body.big-logo header.site-header .#{$prefix}-header-wrap-nav .container .#{$prefix}-menu-toggler-manage {
	    min-height: auto;
	}

	body.big-logo .main-navigation {
	    float: none;
	    li {
	    	float: none;
	    }
	}
}