body.logo-center {
	.site-branding {
		img.custom-logo {
		    max-height: 100px;
		    width: auto;
		}
		.site-title {
			@include font-size(52);//$logo_size
		}
	}
	.#{$prefix}-header-row {
		.#{$prefix}-logo-manage {
		    padding-bottom: 15px;
		    padding-top: 15px;
			text-align: center;
		    @include media(md) {
		    	padding-bottom: 8px;
		    	padding-top: 20px;
		    }
		}
	}
}

@include media(md) {
	body.logo-center.big-logo-enable header.site-header .#{$prefix}-header-wrap-nav .#{$prefix}-menu-toggler-manage {
	    position: inherit;
	}
	body.logo-center.big-logo-enable nav#site-navigation ul.nav-menu,
	body.logo-center.big-logo-enable nav#site-navigation ul.menu,
	body.logo-center.big-logo-enable nav#site-navigation ul#menu {
	    float: none;
	    margin-right: 0;
	    margin: 0 auto;
	    display: inline-block;
	    position: inherit;
	}

	body.logo-center.big-logo-enable nav#site-navigation {
	    text-align: center;
	}

	body.logo-center nav#site-navigation {
	    .container {
		    padding-right: 70px;
		}
	}



	// big-logo disable on scroll
	body.logo-center.big-logo-disable .#{$prefix}-header-row .#{$prefix}-logo-manage {
	    display: none;
	}
	body.logo-center.big-logo-disable nav#site-navigation ul {
	    float: none;
	    display: inline-block;
	}
	body.logo-center.big-logo-disable header.site-header .#{$prefix}-header-wrap-nav .#{$prefix}-menu-toggler-manage {
	    right: auto;
	    width: 100%;
	}
	body.logo-center.big-logo-disable nav#site-navigation {
	    text-align: center;
	}


	body.logo-center nav#site-navigation ul.nav-menu > li > a,
	body.logo-center nav#site-navigation ul.menu > li > a,
	body.logo-center nav#site-navigation ul#menu > li > a {
	    padding-top: 20px;
	    padding-bottom: 20px;
	    // padding-top: 10px;
	    // padding-bottom: 10px;
	}

	body.logo-center header.site-header .#{$prefix}-header-wrap-nav .#{$prefix}-menu-toggler-manage {
	    min-height: auto;
	}

	body.logo-center .main-navigation {
	    float: none;
	    li {
	    	float: none;
	    }
	}
}