body.dark-theme {
	.site-header {	
		.st-blog-header-wrap-nav {
		    background: $color_black;
		    color: $color_white;
		    // logo
		    .st-blog-logo-manage {
		    	.site-branding {
		    		.site-title {
		    			a {
		    				color: $color_white;
		    			}
		    		}
		    	}
		    }
		    // search toggler
		    .st-blog-head-search-toggler {
		    	color: $color_white;
		    }
		}
	}
}

// dark-theme nav
body.dark-theme nav#site-navigation ul.menu > li {
	> a {
		color: $color_white;
		@include transition($transition);
		&:hover {
			@extend %color-primary;
			background: $color_white;
		}
	}

	&.current-menu-item {
		a {
			@extend %color-primary;
		}
	}
}