header.site-header {
	.#{$prefix}-header-wrap-nav {
		@include box-shadow(0 2px 2px rgba(0,0,0,0.1));
	}
}

.#{$prefix}-logo-left-right-nav,
.#{$prefix}-big-logo-nav {
	display: none;
}

body {
	&.big-logo {
		.#{$prefix}-big-logo-nav {
			display: block;
		}
	}

	&.logo-left,
	&.logo-right {
		.#{$prefix}-logo-left-right-nav {
			display: block;
		}
	}
}