$logo_size: 24;

.#{$prefix}-header-row {
	@extend %flex;
	min-height: $header-height;
	.#{$prefix}-logo-manage {
	    @extend %flex;
	    @extend %flex-v-center;

		.site-branding {
			.site-title {
			    @include font-size($logo_size);
			    font-weight: $font_primary_bold;
			    text-transform: uppercase;
			    margin-bottom: 0;
			    a {
			    	color: $color_black;
			    }
			}
			.site-description {
			    margin-bottom: 0;
			}
		}
	}
}