body.logo-right {

    .#{$prefix}-header-row {
        @include clearfix();
        
        // logo
        .#{$prefix}-logo-manage {
            width: 220px;
            float: right;

            // some fixes while shifting logo to the right
            .site-branding {
                text-align: right;
                // padding-top: 5px;
            }
        }

        // menu
        .#{$prefix}-menu-toggler-manage {
            width: calc(100% - 220px);
            float: left;
            // some fixes while shifting menu to the left
            nav#site-navigation ul.nav-menu,
            nav#site-navigation ul.menu {
                margin-right: 0;
                margin-left: 55px;
                float: left;
            }

        }
    }
    
    // searc icon
    .#{$prefix}-header-wrap .#{$prefix}-header-wrap-nav .#{$prefix}-head-search-toggler {
        right: auto;
        left: 55px;
    }

}