$nav-text-color: $color_white;
$nav-sub-menu-width: 220px;
$nav-drop-down-color: $color_white;
$nav-menu-font-size: 0.875rem;

$nav-drop-down-padding: 10px 15px;//0.5rem 0.8rem
$nav-drop-down-shadow: 0px 3px 3px 0px #dddddd70;
$nav-hover-bg-color: darken( $color_white, 5% );