%first-level{
    ul{
        float: right;
        margin: 0;
        // margin-right: 55px;
        padding: 0;
        list-style: none;
        li{
            position: relative;
            &:hover{
                // background-color: $nav-hover-bg-color; 

                > ul{
                    @include translate( 0, 0 );
                    visibility: visible;
                    opacity: 1;
                    @include transition( all 0.3s ease-in-out );
                }
            }
        }

        a{
            color: $color_black;
            @extend %font-primary;
            font-weight: $font_primary_medium;
            &:hover {
                @extend %color-primary;
            }
        }
    }

    ul.nav-menu,
    ul.menu {

        > li{
            display: inline-block;
            // font-size: $nav-menu-font-size;
            @include font-size($nav-menu-font-size);
            font-weight: normal; 

            > a {
                display: inline-block;
                padding: 25px 1rem;//33px
                text-transform: uppercase;
            }
            &.current-menu-item {
                > a {
                    @extend %color-primary;
                }
            }
        } 

    }
}