@import 'config';
@import 'first-level';
@import 'second-level';
@import 'n-level';
@import 'mobile-nav/main';

nav#site-navigation{   
    @extend %first-level; 
    @extend %second-level; 
    @extend %n-level; 
    position: relative;
}

#menu-icon  {
    display: block;
    margin: 1.5rem 0;

    @include media(md) {
		display: none;
	}
} 

nav#site-navigation {
	display: none;
    
    @include media(md) {
		display: block;
	}
}






