// st mobile menu configuration
$overlay            : true;
$st_menu_type       : overlay; // overlay or shift
$st_menu_direction  : left;  // left or right 
$st_menu_animation  : all 0.3s ease-in-out;
$st_overlay_color   : rgba(#000, 0.8);
$st_menu_width      : 300px;   
$st_menu_color      : #272727;
$st_menu_text_color : #fff;  
$st-font            : 'Roboto Condensed', sans-serif; // if you inherit font then remove this variable
$st_prefix             : 'st-mbl';

//  font-size
$st-fs-first-level  : 16px;
$st-fs-rest-level   : 12px; 
   
// sub menu arrow
$st_submenu_indicator_arrow_width    : 30px;
$st_submenu_indicator_arrow_color    : #fff;
$st_submenu_indicator_arrow_animation : true;

// close button
$st_close_button_size      : 20px;
$st_close_button_position  : right;
$st_colse_button_animation : true;

$st_menu_z_index: 9999;

//Browser reset
.#{$st_prefix}-menu{
    ul {
        margin: 0;
        padding: 0;
    }
    a { text-decoration: none; }
}

// OVERLAY FOR MOBILE MENU
@if ( $overlay ){
  .#{$st_prefix}-menu-overlay {
      background-color: rgba( $st_overlay_color, 0.6 );
      position: fixed;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      z-index: $st_menu_z_index - 1;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease-in-out;
         -moz-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;

      &.st-menu-open {
        opacity: 1;
        visibility: visible;
      }
  }
} // End overlay

@if( shift == $st_menu_type) and (left == $st_menu_direction ){
  body{
    position: relative;
    left: 0;
    -webkit-transition: $st_menu_animation;
       -moz-transition: $st_menu_animation;
            transition: $st_menu_animation;
    &.st-menu-open{
      left: $st_menu_width;
    }
  }
}

@if( shift == $st_menu_type) and (right == $st_menu_direction ){
  body{
    position: relative;
    right: 0;
    -webkit-transition: $st_menu_animation;
       -moz-transition: $st_menu_animation;
            transition: $st_menu_animation;
    &.st-menu-open{
      right: $st_menu_width;
    }
  }
}

body {
  overflow-X: hidden;
}

//gh-shift-menu
.#{$st_prefix}-menu {
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: auto;
    width: $st_menu_width;
    z-index: $st_menu_z_index;
    overflow-x: hidden;
    background-color: darken($st_menu_color, 10%);
    -webkit-transition: $st_menu_animation;
       -moz-transition: $st_menu_animation;
            transition: $st_menu_animation;

    //overlay right menu
    @if (overlay == $st_menu_type) and (right == $st_menu_direction) {
      right: -$st_menu_width;
      &.st-menu-open{
          right: 0;
      }
    }

    @if (overlay == $st_menu_type) and (left == $st_menu_direction) {
      left: -$st_menu_width;
      &.st-menu-open{
          left: 0;
      }
    }

    @if( shift == $st_menu_type) and (left == $st_menu_direction ){
      left: -$st_menu_width;
      &.st-menu-open{
          left: 0;
      }
    }

    @if( shift == $st_menu_type) and (right == $st_menu_direction ){
      right: -$st_menu_width;
      &.st-menu-open{
          right: 0;
      }
    }

    ul.menu {
        margin: 0;
        padding: 0;
        list-style: none;
        @if variable-exists(st-font) {
            font-family: #{$st-font};
        }

        > li {
            > a {
                padding: 8px 35px 8px 15px;
                display: block;
                font-weight: 400;
                font-size: $st-fs-first-level;
                text-transform: capitalize;
                color: $st_menu_text_color;
                position: relative;
            }

            ul {
                background-color: $st_menu_color;
                display: none;

                li {
                    list-style: none;
                    position: relative;

                    a {
                        display: block;
                        padding: 8px 35px 8px 15px;
                        border-bottom: 1px solid darken($st_menu_color, 5%);
                        color: $st_menu_text_color;
                        font-size: $st-fs-rest-level;
                        position: relative;
                    }

                    ul {
                        li {
                            a {
                                padding: 8px 0 8px 25px;
                            }
                        }
                    }
                }
            }
        }
        //li
    }
    //ul
}
//shift_menu

.st-arrow-box {
    display: inline-block;
    float: right;
    width: $st_submenu_indicator_arrow_width;
    transition: all 0.3s linear;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    @if $st_submenu_indicator_arrow_animation{
      -webkit-transfrom: scale(0.5);
      -moz-transfrom: scale(0.5);
      transform: scale(0.5);

      .st-menu-open &{
        -webkit-transfrom: scale(1);
           -moz-transfrom: scale(1);
                transform: scale(1);
       -webkit-transition: all 0.4s ease-in-out 0.2s;
          -moz-transition: all 0.4s ease-in-out 0.2s;
              transition: all 0.4s ease-in-out 0.2s;
      }
    }

    &.open {
        transform: rotate(180deg);
    }

    .st-down-arrow {
        width: 8px;
        height: 8px;
        position: absolute;
        top: 46%;
        left: 60%;
        transform: translate(-50%, -50%);

        &:after,
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 2px;
            background-color: $st_submenu_indicator_arrow_color;
        }

        &:after {
            transform: rotate(45deg) translateX(3px);
            transform-origin: right;
        }

        &:before {
            transform: rotate(-45deg) translateX(-3px);
            transform-origin: left;
        }
    }
} // st-arrow-box

.st-close-wrapper {
    text-align: $st_close_button_position;
    padding: 10px 7px;

    .st-inner-box {
        width: $st_close_button_size;
        height: $st_close_button_size;
        cursor: pointer;
        display: inline-block;
        position: relative;

        @if $st_colse_button_animation{
          -webkit-transform: scale(0) rotate(180deg);
          -moz-transform: scale(0) rotate(180deg);
           transform: scale(0) rotate(180deg);

          .st-menu-open &{
            -webkit-transform: scale(1) rotate(0deg);
               -moz-transform: scale(1) rotate(0deg);
                    transform: scale(1) rotate(0deg);
            -webkit-transition: all 0.4s ease-in-out 0.3s;
               -moz-transition: all 0.4s ease-in-out 0.3s;
                   transition: all 0.4s ease-in-out 0.3s;
          }

        }

        .st-inner{
          display: inline-block;
          &:after, &:before{
            content: "";
            position: absolute;
            background-color: white;
            top: 50%;
            left: 50%;
            width: 2px;
            height: 100%;
            -webkit-transform: translate( -50%, -50% ) rotate(45deg);
                    transform: translate( -50%, -50% ) rotate(45deg);
          }
          &:before{
            -webkit-transform: translate(-50%, -50%) rotate( -45deg);
                    transform: translate(-50%, -50%) rotate( -45deg);
          }

        }
    }

}
