.site-footer {
	@extend %color-footer;

	.widget-title {
		@extend %color-footer;
	}

	// copyright
	.site-info {
	    text-align: center;
	    padding: 30px 0 40px;
	    a {
	    	&:hover {
	    		@extend %color-primary;
	    	}
	    }
	}
}

// site-footer widgets
.site-footer {
	.#{$prefix}-footer-widget {
	    background: black;
	    padding: 40px 0 0;
	    a {
	    	color: $color_white;
	    	&:hover {
	    		color: lighten($color_black, 70%);
	    	}
	    }

	    .btn, .readmore,
	    .nav-tabs .nav-item .nav-link.active,
	    .#{$prefix}-popular-posts-item .#{$prefix}-popular-posts-content .#{$prefix}-popular-posts-title a {
	    	color: $color_white;
    		&:hover {
    			color: $color_white;
    		}
	    }
	    .#{$prefix}-popular-posts-item .#{$prefix}-popular-posts-content .#{$prefix}-popular-posts-title a {
	    	&:hover {
	    		color: lighten($color_black, 70%);	    		
	    	}
	    }
	    .widget_tag_cloud .tagcloud a {
	    	background: none;
	    }

	    // columns
	    @media (max-width: 991px) {
		    .#{$prefix}-footer-widget-col {
			    -ms-flex: 0 0 50%;
			    flex: 0 0 50%;
			}
		}
	    @media (max-width: 575px) {
		    .#{$prefix}-footer-widget-col {
			    -ms-flex: 0 0 100%;
			    flex: 0 0 100%;
			}
		}
	}

	.#{$prefix}-footer-widget, .#{$prefix}-footer-widget .widget-title {
	    color: white;
	}

	.widget {
		margin-bottom: 40px;
	}

	.widget_categories,
	.widget_archive,
	.widget_recent_entries,
	.widget_recent_comments,
	.widget_meta,
	.widget_pages,
	.widget_nav_menu {
		ul {
			li {
			    background: transparent;
			    padding-left: 0;				
			    a {
			    	color: $color_white;
			    }
			    &:hover {
			    	padding-left: 10px;
			    	a {
			    		color: lighten($color_black, 70%);
			    	}
			    }
			}
		}
	}

	.widget_calendar {
		caption {
			color: $color_white;
		}
	}

}