$admin-bar-height: 32px;
$admin-bar-height-782: 46px;

// admin-bar - ie logged in
body.admin-bar.fixed-header .site-header,
body.admin-bar.logo-center.big-logo-disable #big-logo-site-nav {
    top: $admin-bar-height;

	@media screen and (max-width: 782px) {
		top: $admin-bar-height-782;		
	}

	@media screen and (max-width: 600px) {
		position: absolute;
	}
}

// mobile-nav
body.admin-bar .st-mbl-menu {
    padding-top: $admin-bar-height;

	@media screen and (max-width: 782px) {
		padding-top: $admin-bar-height-782;		
	}

	@media screen and (max-width: 600px) {
		// position: absolute;
	}
}

body.admin-bar {
	&.search {
		.readmore {
			margin-bottom: 10px;
		}
	}
}