$sidebar_padding: 3%;

body:not(.home) {
	.site-content {
	    padding-top: 30px;
	    padding-bottom: 20px;
	}
}

.#{$prefix}-site-content {
	@include clearfix();
    margin-left: -15px;
    margin-right: -15px;
    #primary,
	#secondary {
		float: left;
	    padding-left: 15px; 
	    padding-right: 15px;   
	}
	@include media(sm) {
		#primary {
		    width: 60%;
		}
		#secondary {
		    width: 40%;
		    padding-left: $sidebar_padding;
		}
	}
	@include media(md) {
		#primary {
		    width: 70%;
		}
		#secondary {
		    width: 30%;
		}
	}
}

// body.#{$prefix}-left-sidebar {
body.salient-left-sidebar {
	#primary,
	#secondary {
		float: right;
	}
	@include media(sm) {
		#secondary {
			padding-right: $sidebar_padding;
			padding-left: 15px;
		}
	}
}

body.salient-no-sidebar {
	#primary {
		width: 100%;
	}
	#secondary {
		display: none;
	}
}

body.error404 .#{$prefix}-site-content #primary {
    width: 100%;
}