body:not(.home) {
	.site-content {
	    padding-top: 30px;
	    padding-bottom: 20px;
	}
}

.st-blog-site-content {
	@include clearfix();
    margin-left: -15px;
    margin-right: -15px;
    #primary,
	#secondary {
		float: left;
	    padding-left: 15px; 
	    padding-right: 15px;   
	}
	#primary {
	    width: 70%;
	}
	#secondary {
	    width: 30%;
	}
}

body.st-blog-left-sidebar {
	#primary,
	#secondary {
		float: right;
	}
}

body.st-blog-no-sidebar {
	#primary {
		width: 100%;
	}
	#secondary {
		display: none;
	}
}