a.btn {
	@extend %btn-style;
}
.btn {
	@extend %btn-style;
}

// readmore
.readmore {
	@extend %font-primary;
	display: inline-block;
	i {
		margin-left: 5px;
	}
	&:after {
		content: "\f30b";
		@extend %font-awesome;
		margin-left: 10px;
	}
}

a.readmore,
.readmore {
	@extend %btn-style;
	background-color: transparent;
	color: $color_link;
	&:hover {
		background-color: transparent;
		color: $color_primary;
	}
}

// scroll-top
##{$prefix}-scroll-top {
	position: fixed;
	bottom: 40px;
	right: 20px;
	z-index: 9;
	@include transition($transition);
	@include translate(0, 100px);
	i {
		margin-right: 10px;
	}
}
body.scrolled-down {
	##{$prefix}-scroll-top {
		@include translate(0, 0);
	}	
}