body.custom-background {
	##{$prefix}-featured .container,
	.container.site-content,
	.#{$prefix}-full-width-widget .container {
		background-color: $color_white;
	}

}
	// .mb-5
	##{$prefix}-banner,
	##{$prefix}-featured,
	##{$prefix}-social-icons {
	    margin-bottom: 0 !important;
	}

	##{$prefix}-featured .container,
	#home-content,
	.#{$prefix}-full-width-widget .container,
	##{$prefix}-social-icons .container {
	    padding-top: 3rem;
	}

	.#{$prefix}-full-width-widget .container {
	    // padding-bottom: 3rem;
	}

	.#{$prefix}-full-width-widget .container .widget,
	.null-instagram-feed .follow-me {
	    margin-bottom: 0;
	}

	##{$prefix}-social-icons .container {
	    padding-bottom: 3rem;
	}