.image-full {
    margin-bottom: 15px;
}

.image-left,
.image-right {
    margin-bottom: 15px;
}
.image-left {
    float: left;
    margin-right: 15px;
}

.image-right {
    float: right;
    margin-left: 15px;
}