#preloader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    background: #fff;
    #status {
        height: 100%;
        width: 100%;
        @extend %flex;
        @extend %flex-h-center;
        @extend %flex-v-center;
        
        i {
            font-size: 30px;
        }
    }

}
